.container{
    padding: 0.2rem;
    margin-top: 5rem;
    text-align: center;
}
#mysearch{
    width:100%;
    padding: 0.2rem;
    border: 2px solid #ccc;
}

#myMenu{
    padding: 0.2rem;
    list-style: none;
    
}